# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Dependency directories
node_modules/
yarn.lock
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/
include/
pip-selfcheck.json

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Database
*.sqlite3

# Virtualenv
.env
venv

# Migrations
migrations/

# Fixtures
fixtures/

# Vscode
../.vscode/

